<!-- main menu -->
<div class="main">
    <div class="navigate">
        <ul class="nav nav-tabs">
            <li class="nav-item ">
              <a class="nav-link " 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}"
                routerLink="/" 
              >Income</a>  
            </li>
            <li class="nav-item" >
              <a class="nav-link " 
                routerLinkActive="active" 
                routerLink="/outcome"
              >Outcome</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                routerLinkActive="active" 
                [routerLink]="['/loans']"
              >Loans</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" 
                routerLinkActive="active" 
                [routerLink]="['/investments']"
              >Investments</a>
            </li>
        </ul>
    </div>
    <!-- content -->
    <router-outlet class="router-outlet"></router-outlet>
</div>